/* Solo usar para cosas muy especificas */

.colorAzulClaro {
    color: #1aa3bb;
}

.fondoAzulClaro {
    background-color: #1aa3bb;
}

.colorAzulMedio {
    color: #007387;
}

.fondoAzulMedio {
    background-color: #007387;
}

.colorAzulOscuro {
    color: #012448;
}

.fondoAzulOscuro {
    background-color: #012448;
}

.colorAmarilloClaro {
    color: #ffcc1b;
}

.fondoAmarilloClaro {
    background-color: #ffcc1b;
}

.colorAmarilloMedio {
    color: #cc9c2f;
}

.fondoAmarilloMedio {
    background-color: #cc9c2f;
}

.colorAmarilloOscuro {
    color: #7d5d15;
}

.fondoAmarilloOscuro {
    background-color: #7d5d15;
}

.margin-0_Padding {
    margin: 0 !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
