/* @import must be at top of file, otherwise CSS will not work */
/* @import url("../../../../cdn.fonts.net/t/10d2e.css"); */
  
@font-face {
  font-family: "GothamNarrowBook";
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
  src: url('../fonts/gotham/gothamnarrowbook_normal_condensed.woff2') format('woff2'), url('../fonts/gotham/gothamnarrowbook_normal_condensed.woff') format('woff');
}
@font-face {
  font-family: "GothamNarrowBold";
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
  src: url('../fonts/gotham/gothamnarrowbold_normal_condensed.woff2') format('woff2'), url('../fonts/gotham/gothamnarrowbold_normal_condensed.woff') format('woff');
}
@font-face {
  font-family: "GothamBold";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/gotham/gothambold_normal_normal.woff2') format('woff2'), url('../fonts/gotham/gothambold_normal_normal.woff') format('woff');
}
@font-face {
    font-family: "GothamNarrowBookItalic";
    font-style: italic;
    font-stretch: condensed;
    font-display: swap;
    src: url('../fonts/gotham/gothamnarrowbookitalic_italic_condensed.woff2') format('woff2'), url('../fonts/gotham/gothamnarrowbookitalic_italic_condensed.woff') format('woff');
}
@font-face {
  font-family: "GothamBlack";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/gotham/gothamblack_normal_normal.woff2') format('woff2'), url('../fonts/gotham/gothamblack_normal_normal.woff') format('woff');
}
@font-face {
  font-family: "GothamBook";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/gotham/gothambook_normal_normal.woff2') format('woff2'), url('../fonts/gotham/gothambook_normal_normal.woff') format('woff');
}