/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Espacio desde la parte inferior de la pantalla */
    left: 20px;   /* Espacio desde la parte izquierda de la pantalla */
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.whatsapp-button img {
    width: 50px; /* Tamaño del icono */
    height: 50px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Hacer el botón responsive para pantallas más pequeñas */
@media (max-width: 600px) {
    .whatsapp-button {
        bottom: 10px;
        left: 10px;
    }

    .whatsapp-button img {
        width: 40px;
        height: 40px;
    }
}
